// Style de la barre de navigation
.navigation {
    
    margin:  26px 0;
    display: flex;
    color:white;
    background-color: black;
    opacity: 50%;

    * {

        text-decoration: none;
        margin: auto;
        padding: 10px;
        position: relative;
        color:white;  
        
    }
    
    .nav-active {
        &::after {
            color: orangered;
            border-bottom: 2px orangered solid;
            
            
        }
    }
    
}

