@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    
}
body{
    background-image: url('../style/blur.jpg');
    background-size:cover ;

}

.image-container {
    margin: auto;
    display: flex;
    text-align: center;
    // position: relative;
}

div{
    border-radius: 9px;
}

h1 ,h5 ,h6 ,h2 ,h3{
    text-align: center;
    color: white;
}
input{
   
    width: 30%;
}
form {
    margin: auto;
    text-align: center;
}

.off div{
    margin: auto ;
    background-color: whitesmoke;
    
}

.failSearch{
    position: absolute;
    color: white;
    left: 45%;
    font-size: 15px;
}


@media (max-width: 376px) {
    // .cardSizing{
        
    // }
    .failSearch{
        left: 25%;

    }
    .image-container {
        display: block;
    }

 }
@media (max-width: 450px) {
    // .cardSizing{
        
    // }
    .failSearch{
        left: 20%;

    }
 }
@media (max-width: 470px) {
    // .cardSizing{
        
    // }
    .failSearch{
        left: 30%;

    }
 }



