@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}
input{
   
    width: 30%;
}
form {
    margin: auto;
    text-align: center;
}

.off div{
    margin: auto ;
    background: #7899D4;
    // text-align: center;
    
    
    // display: block;
    // height: auto;
    background-color: whitesmoke;
    
}
// .container div{
//     border: springgreen 2px solid;
//     // margin: auto ;
//     width: fit-content;
//     // display: block;
// }


